<% @page_title = @entry.title + " - " + @entry.author.name + "さんのブログ" %>
<h1><%= @entry.author.name %>さんのブログ</h1>
<h2><%= @entry.title %></h2>

<%= simple_format(@entry.body) %>
<p>今日の勉強時間:</p>
<p>トータルの勉強時間:</p>


<%= render "footer", entry: @entry %>
<%= render "votes" %>